@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: hsl(216, 12%, 8%);
    --special-color: hsl(25, 97%, 53%);
    --text-color: hsl(0, 0%, 100%);
    --p-color: hsl(217, 12%, 63%);
}

body {
    color: var(--text-color);
    font-family: 'Overpass', sans-serif;
}

#rating-state {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    place-content: center;
}

.rating-place {
    text-align: start;
    max-width: 400px;
    background: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    padding: 30px;
    margin: 0px 20px;
}

.title {
    margin: 30px 0px 10px 0px;
    color: var(--text-color);
    font-size: 28px;
    font-weight: 700;
}

.desc {
    color: var(--p-color);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

#star {
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    padding: 20px;
    float: left;
}

.boxed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }
  
.boxed label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(213, 19%, 18%);
    color: var(--p-color);
    width: 50px;
    height: 50px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}
  
.boxed label:hover {
    background-color: var(--special-color);
    color: var(--text-color);
}
  
.boxed input[type="radio"] {
    display: none;
}
  
.boxed input[type="radio"]:checked + label {
    background-color: hsl(216, 12%, 54%);
    color: var(--text-color);
}

input[type="submit"] {
    width: 100%;
    background-color: var(--special-color);
    color: var(--text-color);
    text-align: center;
    margin: 30px auto 0px auto;
    padding: 13px;
    border-radius: 2rem;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: default;
}

input[type="submit"]:hover {
    background-color: var(--text-color);
    color: var(--special-color);
}

/* After Clicking Submit Section */

#after-rate {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    display: none;
    place-items: center;
    place-content: center;
}

#thx {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aft {
    text-align: center;
}

#selection {
    background-color: hsl(213, 19%, 18%);
    border-radius: 1rem;
    width: 70%;
    margin: 30px auto 30px auto;
    padding: 10px;
    font-size: 15px;
    color: var(--special-color);
    text-align: center;
}